[Unit]
Description=Chili Web App

[Service]
WorkingDirectory=/var/www/chili_net_core
ExecStart=/bin/dotnet /var/www/chili_net_core/Usa.chili.Web.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=chili
User=apache
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install]
WantedBy=multi-user.target