@{
ViewBag.Title = "About Us";
ViewBag.Description = "Full-time Staff";
}

<!--
<h3>Full-time Staff</h3>
<hr>
<p>
    <strong>Director:</strong> Dr. Sytske K. Kimball, <a href="mailto:skimball@southalabama.edu">skimball@@southalabama.edu</a>
</p>
<p>
    <strong>Webpage and Computing Coordinator:</strong> Dr. Wesley Terwey, <a href="mailto:terwey@southalabama.edu">terwey@@southalabama.edu</a>
</p>
<p>
    For questions, suggestions, purchasing data-derived products, or if you are interested in sponsoring one of our stations,
    <br>please contact us at <a href="mailto:mesonet@southalabama.edu">mesonet@@southalabama.edu</a>
</p>
-->

<h3>About Us</h3>
<hr>

<div class="card mb-4">
    <div class="media p-2">
        <img class="mr-3" src="/images/skimball.jpg" alt="Sytske Kimball, Ph. D.">
        <div class="media-body">
            <h5 class="mt-0">Sytske Kimball, Ph. D.</h5>
            Director
            <br>
            <a href="mailto:skimball@southalabama.edu">skimball@@southalabama.edu</a>
        </div>
    </div>
</div>

<div class="card mb-3">
    <div class="media p-2">
        <img class="mr-3" src="/images/wterwey.jpg" alt="Sytske Kimball, Ph. D.">
        <div class="media-body">
            <h5 class="mt-0">Wesley Terwey, Ph. D.</h5>
            Webpage and Computing Coordinator
            <br>
            <a href="mailto:terwey@southalabama.edu">terwey@@southalabama.edu</a>
        </div>
    </div>
</div>

<div class="alert alert-light text-dark" role="alert">
    <p>
        For questions, suggestions, purchasing data-derived products, or if you are interested in sponsoring one of our
        stations,
        <br>please contact us at <a href="mailto:mesonet@southalabama.edu">mesonet@@southalabama.edu</a>
    </p>
</div>