@{
ViewBag.Title = "About Us";
ViewBag.Description = "Full-time Staff";
}

<div class="container">
    <h3>About Us</h3>
    <hr>

    <div class="card mb-4">
        <div class="media p-2">
            <img class="mr-3" src="/images/skimball.jpg" alt="Sytske Kimball, Ph. D.">
            <div class="media-body text-wrap">
                <span class="font-weight-bold">Sytske Kimball, Ph. D.</span>
                <br>
                <span>Director</span>
                <br>
                <a href="mailto:skimball@southalabama.edu">skimball&#8203;@@southalabama.edu</a>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="media p-2">
            <img class="mr-3" src="/images/wterwey.jpg" alt="Wesley Terwey, Ph. D.">
            <div class="media-body">
                <span class="font-weight-bold mt-0">Wesley Terwey, Ph. D.</span>
                <br>
                <span>Webpage and Computing Coordinator</span>
                <br>
                <a href="mailto:terwey@southalabama.edu">terwey&#8203;@@southalabama.edu</a>
            </div>
        </div>
    </div>

    <div class="alert alert-light text-dark" role="alert">
        <p>
            For questions, suggestions, purchasing data-derived products, or if you are interested in sponsoring one of
            our
            stations,
            <br>please contact us at <a href="mailto:mesonet@southalabama.edu">mesonet@@southalabama.edu</a>
        </p>
    </div>


    <div class="card mb-3">
        <div class="card-heading bg-core-blue py-1">
            <h5 class="card-title text-center mb-0">
                <a asp-controller="Home" asp-action="MesonetInformation">USA Mesonet History</a>
            </h5>
        </div>
        <div class="card-body">
            <p>
                The South Alabama Mesonet is a network of
                26 automated weather stations, located
                in the north-central Gulf Coast area and was founded in 2004 by
                University of South Alabama Meteorology professor Dr. Sytske Kimball.
                The weather stations collect 16 meteorological- and soil- quantities
                including temperature, rainfall, wind speed and direction, soil
                temperature and humidity. Measurements are made automatically every
                minute of the day, every day of the year. The Mesonet is entirely
                funded through grants and donations to support routine maintenance
                (removing vegetation and animal nests), sensor replacement/repair,
                calibration of instruments, and to pay our student workers.
            </p>
            <p>
                Mesonet weather station data have inspired a wide variety of research
                projects at the University of South Alabama addressing local weather
                events and phenomena including cold fronts, landfall of tropical
                storms, sea breezes, nocturnal cooling, and local wind and rainfall
                climatologies. The weather stations and their data are used in the
                Meteorology curriculum at the University of South Alabama. Meteorology
                majors can take a class in Meteorological Instrumentation, get
                involved in weather station maintenance, social media outreach, and
                participate in research projects using Mesonet data. The Mobile
                National Weather Service forecast office uses the data on a frequent
                basis to issue severe weather and flash flood warnings and to perform
                post weather event analyses. Thirteen stations are located on local
                public school campuses and are used for K-12 outreach activities. The
                Mesonet serves the wider Gulf Coast community in a wide range of
                applications including agriculture, ecosystem monitoring, fire
                weather, recreation, renewable energy, air quality and health,
                emergency management, litigation, and climate change.
            </p>
        </div>
    </div>
</div>