
@{
    ViewData["Title"] = "Contact Us";
}


<h3>Full-time Staff</h3>
<hr>
<p>
    <strong>Director:</strong> Dr. Sytske K. Kimball, <a href="mailto:skimball@southalabama.edu">skimball@@southalabama.edu</a>
</p>
<p>
    <strong>Webpage and Computing Coordinator:</strong> Dr. Wesley Terwey, <a href="mailto:terwey@southalabama.edu">terwey@@southalabama.edu</a>
</p>
<p>
    For questions, suggestions, purchasing data-derived products, or if you are interested in sponsoring one of our stations, 
    <br>please contact us at <a href="mailto:mesonet@southalabama.edu">mesonet@@southalabama.edu</a>
</p>