
@{
    ViewBag.Title = "Donate";
    ViewBag.Description = "To make a donation to the USA Mesonet please go to USA Giving.";
}

<div class="container">
    <div class="bg-core-blue text-center">
        <hr>
        <h3>Donate to USA Mesonet</h3>
        <hr>
    </div>

    <div class="container bg-core-translucent">
        <hr>
        <p>
            To make a donation to the USA Mesonet please go to
            <a href="https://giving.southalabama.edu/pages/donation-form-with-2-columns?fid=bSdaiPZcDOs%3d&fdesc=st0umy%2bnJMterXr1x%2fiKBQQ3iqkvroYP">
                USA Giving - Mesonet Donation Fund
            </a>
        </p>
        <p>
            Thank you for supporting the USA Mesonet!
        </p>
        <hr>
    </div>
</div>