@{
ViewBag.Title = "Home";
ViewBag.Description = "The South Alabama Mesonet is a network of 26 automated weather stations, " +
"located in the north-central Gulf Coast area and was founded in 2004 by " +
"University of South Alabama Meteorology professor Dr. Sytske Kimball. " +
"The weather stations collect 16 meteorological- and soil- quantities including " +
"temperature, rainfall, wind speed and direction, soil temperature and humidity.";
}
<!--STATION MAP -->

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-8 mb-3">
            <div class="card">
                <div class="card-heading bg-core-blue py-1">
                    <h5 class="card-title text-center mb-0">Station Map</h5>
                </div>
                <div class="card-body">
                    <div id="station-map"></div>
                </div>
                <div padding="8px">

                </div>

                <!-- TABLE CREATION -->  

            
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Location</th>
                                <th class="text-center">Temp</th>
                                <th class="text-center">HtIdx</th>
                                <th class="text-center">DewPt</th>
                                <th class="text-center">Hum</th>
                                <th class="text-center">WdDir</th>
                                <th class="text-center">WdSpd</th>
                                <th class="text-center">Press</th>
                                <th class="text-center">Rain</th>
                                <th class="text-center">TS</th>
                            </tr>
                            <tr class="text-center">
                                <!--<td id="Location" style="color:blue;font-size:20px;"></td>-->
                                <td><a href="/Data/Metadata" id="Location"></a></td>
                                <td>&deg;F</td>
                                <td>&deg;F</td>
                                <td>&deg;F</td>
                                <td>&#37;</td>
                                <td>&deg;</td>
                                <td>mph</td>
                                <td>inHg</td>
                                <td>in</td>
                                <td>Time Stamp</td>
                            </tr>
                            <tr class="text-center">
                                <!--<td><button type= "button" class= "button1" ><a href="/Data/Realtime">ALL STATIONS DATA</a></button></td> -->
                                <td><a href="/Data/Realtime"><input type= button value= "All Stations Data"></a></td>
                                <td id="stationTemp"></td>
                                <td id="stationHtIdx"></td>
                                <td id="stationDew"></td>
                                <td id="stationRH"></td>
                                <td id="stationWinD"></td>
                                <td id="stationWinS"></td>
                                <td id="stationPres"></td>
                                <td id="stationPrec"></td>
                                <td id="stationTS"></td>
                                                               
                            </tr>
                        </thead>

                                               
                    </table>  
                     
                </div> 
                
                <!-- END OF THE TABLE --> 


                      

                

            </div>
        </div>

        <div class="col-sm-12 col-lg-4">
            <div class="card">
                <div class="card-heading bg-core-blue py-1">
                    <h5 class="card-title text-center mb-0">Live Mesonet Observations</h5>
                    <div class="text-center"><small>Choose a Station Below</small></div>
                </div>
                <div id="stationObservationsCanvasDiv" class="card-body">
                    <canvas id="stationObservationsCanvas" width="600" height="400"></canvas>
                    <div>
                        <label for="stationSelection">Station</label>
                    </div>
                    <div class="row">
                        <div class="col-8 pr-0">
                            <select2 id="stationSelection" :options="stations" v-model="model.stationId"></select2>
                        </div>
                        <div class="col-4 pr-0">
                            <a class="btn btn-outline-primary" v-bind:href="meteorologicalDataLink">Full Data</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-8 mb-3">
            <div class="card">
                <div class="card-heading bg-core-blue py-1">
                    <h5 class="card-title text-center mb-0">Regional Observations</h5>
                </div>
                <div class="card-body">
                    <img id="regionalImage" class="img-fluid"
                        src="http://weather.southalabama.edu/images/surface/GulfCoast_CHILI_Temp.png"
                        alt="Gulf Coast Observations" />

                    <div class="row">
                        <div class="col-sm-8 col-md-4">
                            <label for="dataSetSelection">Dataset</label>
                            <select id="dataSetSelection">
                                <option value="1">Temperature</option>
                                <option value="2">Dewpoint</option>
                                <option value="3">Pressure</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
<environment include="Development">
    <script src="~/js/home/index.js"></script>
    <script src="~/js/home/map.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/home/index.min.js" asp-append-version="true"></script>
    <script src="~/js/home/map.min.js" asp-append-version="true"></script>
</environment>
}