@{
ViewBag.Title = "Home";
ViewBag.Description = "The South Alabama Mesonet is a network of 26 automated weather stations, " +
"located in the north-central Gulf Coast area and was founded in 2004 by " +
"University of South Alabama Meteorology professor Dr. Sytske Kimball. " +
"The weather stations collect 16 meteorological- and soil- quantities including " +
"temperature, rainfall, wind speed and direction, soil temperature and humidity.";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-8 mb-3">
            <div class="card">
                <div class="card-heading bg-core-blue py-1">
                    <h5 class="card-title text-center mb-0">Station Map</h5>
                </div>
                <div class="card-body">
                    <div id="station-map"></div>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Location/Obs time</th>
                                <th class="text-center">Temp</th>
                                <th class="text-center">HtIdx</th>
                                <th class="text-center">DewPt</th>
                                <th class="text-center">Hum</th>
                                <th class="text-center">WdDir</th>
                                <th class="text-center">WdSpd</th>
                                <th class="text-center">Press</th>
                                <th class="text-center">Rain</th>
                            </tr>
                            <tr class="text-center">
                                <td><a href="/Data/Realtime">All Station Data</a></td>
                                <td>&deg;F</td>
                                <td>&deg;F</td>
                                <td>&deg;F</td>
                                <td>&#37;</td>
                                <td>&deg;</td>
                                <td>mph</td>
                                <td>inHg</td>
                                <td>in</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>
                                    <div>
                                        <a :href="'/Data/Station?id=' + stationData.stationId">
                                            <span
                                                class="font-weight-bold font-georgia">{{ stationData.stationName }}</span>
                                        </a>
                                    </div>
                                    <div>
                                        <small>{{ stationData.stationTimestamp }}</small>
                                    </div>
                                </td>
                                <td>{{ stationData.airTemperature }}</td>
                                <td>{{ stationData.airTemperature }}</td>
                                <td>{{ stationData.dewPoint }}</td>
                                <td>{{ stationData.realHumidity }}</td>
                                <td>{{ stationData.windDirection }}</td>
                                <td>{{ stationData.windSpeed }}</td>
                                <td>{{ stationData.pressure }}</td>
                                <td>{{ stationData.precipitation }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-4">
            <div class="card">
                <div class="card-heading bg-core-blue py-1">
                    <h5 class="card-title text-center mb-0">Live Mesonet Observations</h5>
                    <div class="text-center"><small>Choose a Station Below</small></div>
                </div>
                <div id="stationObservationsCanvasDiv" class="card-body">
                    <canvas id="stationObservationsCanvas" width="600" height="400"></canvas>
                    <div>
                        <label for="stationSelection">Station</label>
                    </div>
                    <div class="row">
                        <div class="col-8 pr-0">
                            <select2 id="stationSelection" :options="stations" v-model="model.stationId"></select2>
                        </div>
                        <div class="col-4 pr-0">
                            <a class="btn btn-outline-primary" :href="'/Data/Station?id=' + stationData.stationId">Full Data</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-lg-8 mb-3">
            <div class="card">
                <div class="card-heading bg-core-blue py-1">
                    <h5 class="card-title text-center mb-0">Regional Observations</h5>
                </div>
                <div class="card-body">
                    <img id="regionalImage" class="img-fluid"
                        src="http://weather.southalabama.edu/images/surface/GulfCoast_CHILI_Temp.png"
                        alt="Gulf Coast Observations" />

                    <div class="row">
                        <div class="col-sm-8 col-md-4">
                            <label for="dataSetSelection">Dataset</label>
                            <select id="dataSetSelection">
                                <option value="1">Temperature</option>
                                <option value="2">Dewpoint</option>
                                <option value="3">Pressure</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
<environment include="Development">
    <script src="~/js/home/index.js"></script>
    <script src="~/js/home/map.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/home/index.min.js" asp-append-version="true"></script>
    <script src="~/js/home/map.min.js" asp-append-version="true"></script>
</environment>
}