@{
ViewData["Title"] = "Mesonet Information";
}


<h3>Mesonet Information</h3>
<hr />
<img src="images/figure1_infopage.jpg" class="float-right ml-2 w-300" alt="Sample Mesonet Station" />
<p>The South Alabama Mesonet is a network of 26 research-grade, automated weather stations (top right),
    located in the north-central Gulf Coast area (left center). This meteorological resource was founded
    in 2004 by University of South Alabama Meteorology professor Dr. Sytske Kimball as part of a
    National Science Foundation CAREER grant to study hurricanes and tropical storms at landfall. In
    2006, the network was significantly expanded through federal funding secured by Senator Richard
    Shelby. The weather stations collect 16 meteorological- and soil- quantities including temperature,
    rainfall, wind speed and direction, soil temperature and humidity. Measurements are made
    automatically every minute of the day, every day of the year.</p>
<img src="images/figure2_infopage.png" class="float-left mr-2 w-400" alt="Map of Mesonet Locations" />
<p>Mesonet weather station data have inspired a wide variety of research projects at the University of
    South Alabama addressing local weather events and phenomena including cold fronts, landfall of
    tropical storms, sea breezes, nocturnal cooling, and local wind and rainfall climatologies. The
    results of these projects have been presented at numerous local, regional, and national professional
    conferences and have been published in peer-reviewed scientific journals. The weather stations and
    their data are used in the Meteorology curriculum at the University of South Alabama. Meteorology
    majors can take a class in Meteorological Instrumentation, get involved in weather station
    maintenance, social media outreach, and participate in research projects using Mesonet data. The
    Mobile National Weather Service forecast office uses the data on a frequent basis to issue severe
    weather and flash flood warnings and to perform post weather event analyses. Thirteen stations are
    located on local public school campuses and are used for K-12 outreach activities.</p>
<p>Currently, the Mesonet is entirely funded through grants and donations to support routine maintenance
    (removing vegetation and animal nests), sensor replacement/repair, calibration of instruments, and
    to pay our student workers. Various faculty members and support staff generously donate their time
    to assist with resolving station communications problems, to perform server maintenance, and to
    ensure the database and website are up to date. Apart from being a valuable resource in research,
    teaching, and forecasting, the Mesonet serves the wider Gulf Coast community in a wide range of
    applications including:</p>
<ul>
    <li><b>Agriculture</b>: whether to apply fertilizer or pesticides depends on the temperature and
        humidity in the atmosphere.</li>
    <li><b>Ecosystem monitoring</b>: aquatic wildlife is sensitive to temperature and water quality
        which is controlled by rainfall run-off and wind speed.</li>
    <li><b>The sea food industry</b>: spawning grounds and sea food safety are controlled by water
        quality, which in turn is driven by rainfall and wind.</li>
    <li><b>Fire weather</b>: when the relative humidity is low and winds are strong, conditions are
        favorable for brush fires and fire crews will watch our observations so they know when to be on
        high alert.</li>
    <li><b>Recreation</b>: current weather conditions can determine outdoor activities such as fishing,
        golf, and hiking.</li>
    <li><b>Renewable energy</b>: the weather stations measure wind speed (turbines) and solar radiation
        (solar energy).</li>
    <li><b>Air quality and health</b>: dispersion of dangerous chemicals from accidental release at
        local chemical plants or the distribution of ozone and pollen depend on the local wind flow.
    </li>
    <li><b>Emergency management</b>: current weather conditions will help emergency rescuers determine
        if it is safe to deploy after a significant weather event such as hurricanes or tornadoes.</li>
    <li><b>Climate change</b>: monitoring our weather for a long duration will tell us, if and to what
        extent, climate change is occurring in our region.</li>
    <li><b>Litigation</b>: precise weather data can assist in settling legal conflicts related to
        weather events.</li>
</ul>