@model ErrorDto

@{
ViewBag.Title = Model.StatusCode;
ViewBag.Description = "Error";
}

<div class="container bg-core-blue text-center">
    <br>
    <h3>
        @Model.StatusCode
    </h3>
    <br>
</div>
<div class="container bg-core-translucent">
    <br>
    <h5>
        @Model.Message
    </h5>
    <br>
</div>