@{
    ViewBag.Title = "Data Graph";
    ViewBag.Description = "24 Hour Meteorological Data Graph";
}

<div class="container bg-core-blue">
    <br>
    <h1 class="text-center">24 Hour Meteorological Data Graph for {{ stationInfo.displayName }} Station</h1>
    <h6 class="text-center">Latitude: {{ stationInfo.latitude }}&deg;{{ stationInfo.latitudeDirection }}
        , Longitude: {{ stationInfo.longitude }}&deg;{{ stationInfo.longitudeDirection }}
        , Elevation: {{ stationInfo.elevation }}m
        , Commissioned: {{ stationInfo.beginDate }}
        <span v-if="stationInfo.endDate">, Decommissioned: {{ stationInfo.endDate }}</span>
    </h6>
    <h5 class="text-center">Measurements recorded at: {{ model.date }} CST</h5>
    <br>
</div>
<div class="container bg-core-translucent">
    <br>
    <div class="d-flex justify-content-center my-4">
        <a class="btn btn-light mr-3" :href="'/Data/Station?id=' + stationInfo.id">Display Current Data for {{ stationInfo.displayName }} Station</a>
        <a class="btn btn-light" :href="'/Data/Metadata?id=' + stationInfo.id">Display Metadata for {{ stationInfo.displayName }} Station</a>
    </div>

    <div class="form-row d-flex justify-content-center">
        <div class="form-group col-lg-2 mr-2">
            <label for="datePicker">Date</label>
            <datetimepicker id="datePicker" v-model="model.date" :time="false"></datetimepicker>
        </div>
        <div class="form-group col-lg-3 mr-2">
            <label for="stationSelection">Station</label>
            <select2 id="stationSelection" :options="stations" v-model="model.stationId"></select2>
        </div>
        <div class="form-group col-lg-4 mr-2">
            <label for="variableSelection">Variable</label>
            <select2 id="variableSelection" :options="variables" v-model="model.variableId"></select2>
        </div>
        <div class="col-lg-1">
            <button type="button" class="btn btn-secondary btn-inline mb-3" @@click="go">Go</button>
        </div>
    </div>

    <div class="form-row d-flex justify-content-center">
        <div class="form-group col-lg-8">
            <div class="btn-group" role="group" aria-label="Date change">
                <button type="button" class="btn btn-light" @@click="previous"><i class="fas fa-chevron-left"></i></button>
                <button type="button" class="btn btn-light" @@click="lastDateTime"><i class="fas fa-clock"></i></button>
                <button type="button" class="btn btn-light" @@click="next"><i class="fas fa-chevron-right"></i></button>
            </div>
        </div>

        <div class="form-group col-lg-2">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="metricUnits" v-model="model.isMetricUnits">
                <label class="custom-control-label" for="metricUnits">Use Metric Units</label>
            </div>
        </div>
    </div>

    <div class="alert alert-danger mb-5" role="alert" v-if="error">
        <div class="text-center">{{ error }}</div>
    </div>

    <div class="d-flex justify-content-center">
        <div id="graph" class="w-740 h-400 mb-5"></div>
    </div>
</div>

@section scripts {
    <environment include="Development">
        <script src="~/js/data/graph.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/data/graph.min.js" asp-append-version="true"></script>
    </environment>
}