@{
ViewBag.Title = "Realtime Data";
ViewBag.Description = "USA Mesonet Realtime Display";
}

<h1 class="text-center">USA Mesonet Realtime Display</h1>
<h2 class="text-center">09/08 16:05:50 pm CST</h2>

<hr>

<div class="form-row d-flex justify-content-center">
    <div class="form-group col-lg-2">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="windchill">
            <label class="custom-control-label" for="windchill">Display Windchill</label>
        </div>
    </div>

    <div class="form-group col-lg-2">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="metricUnits">
            <label class="custom-control-label" for="metricUnits">Use Metric Units</label>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-bordered table-expand">
        <thead>
            <tr>
                <th></th>
                <th colspan="4" class="text-center">&#64;&nbsp;6.56 ft</th>
                <th colspan="2" class="text-center">&#64;&nbsp;32.81 ft</th>
                <th>SeaLv</th>
                <th colspan="5" class="text-center">Today's Extremes (<span class="text-color-high">Hi</span>/<span
                        class="text-color-low">Lo</span>)</th>
                <th colspan="5" class="text-center">Yesterday's Extremes (<span class="text-color-high">Hi</span>/<span
                        class="text-color-low">Lo</span>)</th>
            </tr>
            <tr>
                <th>Location/Obs time</th>
                <th class="text-center">Temp</th>
                <th class="text-center">HtIdx</th>
                <th class="text-center">DewPt</th>
                <th class="text-center">Hum</th>
                <th class="text-center">WdDir</th>
                <th class="text-center">WdSpd</th>
                <th class="text-center">Press</th>
                <th class="text-center">Rain</th>
                <th class="text-center">WdSpd</th>
                <th class="text-center">Temp</th>
                <th class="text-center">DewPt</th>
                <th class="text-center">Hum</th>
                <th class="text-center">Rain</th>
                <th class="text-center">WdSpd</th>
                <th class="text-center">Temp</th>
                <th class="text-center">DewPt</th>
                <th class="text-center">Hum</th>
            </tr>
            <tr class="text-center">
                <td></td>
                <td>&deg;F</td>
                <td>&deg;F</td>
                <td>&deg;F</td>
                <td>&#37;</td>
                <td>&deg;</td>
                <td>mph</td>
                <td>inHg</td>
                <td>in</td>
                <td>mph</td>
                <td>&deg;F</td>
                <td>&deg;F</td>
                <td>&#37;</td>
                <td>in</td>
                <td>mph</td>
                <td>&deg;F</td>
                <td>&deg;F</td>
                <td>&#37;</td>
            </tr>
        </thead>
        <tbody v-for='item in realtimeData'>
            <tr>
                <td>
                    <div>
                        <a asp-controller="Data" asp-action="Station" :asp-route-id="item.stationId">
                            <span class="font-weight-bold">{{ item.stationName }}</span>
                        </a>
                    </div>
                    <div>
                        <small>{{ item.stationTimestamp }}</small>
                    </div>
                </td>
                <td class="temp font-weight-bold">{{ item.AirTemperature }}</td>
                <td class="ht">{{ item.heatIndex }}</td>
                <td class="hum">{{ item.dewPoint }}</td>
                <td class="hum">{{ item.realHumidity }}</td>
                <td class="wind">{{ item.windDirection }}</td>
                <td class="wind">{{ item.windSpeed }}</td>
                <td class="pres">{{ item.pressure }}</td>
                <td class="rain">{{ item.todayExtreme.precipitation }}</td>
                <td class="wind">
                    <span data-toggle="tooltip" :title="item.todayExtreme.WindSpeedMaxTimestamp">
                        {{ item.todayExtreme.windSpeedMax }}
                    </span>
                </td>
                <td>
                    <div>
                        <span data-toggle="tooltip" :title="item.todayExtreme.WindSpeedMaxTimestamp">
                            {{ item.todayExtreme.airTemperatureHigh }}
                        </span>
                    </div>
                    <div>
                        <span data-toggle="tooltip" :title="item.todayExtreme.WindSpeedMaxTimestamp">
                            {{ item.todayExtreme.airTemperatureLow }}
                        </span>
                    </div>
                </td>
                <td>
                    <div>
                        <span class="text-color-high" data-toggle="tooltip" :title="item.todayExtreme.WindSpeedMaxTimestamp">
                            {{ item.todayExtreme.dewPointHigh }}
                        </span>
                    </div>
                    <div>
                        <span class="text-color-low" data-toggle="tooltip" :title="item.todayExtreme.WindSpeedMaxTimestamp">
                            {{ item.todayExtreme.dewPointLow }}
                        </span>
                    </div>
                </td>
                <td>
                    <div>
                        <span class="text-color-high" data-toggle="tooltip" :title="item.todayExtreme.WindSpeedMaxTimestamp">
                            {{ item.todayExtreme.realHumidityHigh }}
                        </span>
                    </div>
                    <div>
                        <span class="text-color-low" data-toggle="tooltip" :title="item.todayExtreme.WindSpeedMaxTimestamp">
                            {{ item.todayExtreme.realHumidityLow }}
                        </span>
                    </div>
                </td>
                <td class="rain">{{ item.yesterdayExtreme.precipitation }}</td>
                <td class="wind">
                    <span data-toggle="tooltip" :title="item.todayExtreme.WindSpeedMaxTimestamp">
                        {{ item.yesterdayExtreme.windSpeedMax }}
                    </span>
                </td>
                <td>
                    <div>
                        <span class="text-color-high" data-toggle="tooltip" :title="item.todayExtreme.WindSpeedMaxTimestamp">
                            {{ item.yesterdayExtreme.airTemperatureHigh }}
                        </span>
                    </div>
                    <div>
                        <span class="text-color-low" data-toggle="tooltip" :title="item.todayExtreme.WindSpeedMaxTimestamp">
                            {{ item.yesterdayExtreme.airTemperatureLow }}
                        </span>
                    </div>
                </td>
                <td>
                    <div>
                        <span class="text-color-high" data-toggle="tooltip" :title="item.todayExtreme.WindSpeedMaxTimestamp">
                            {{ item.yesterdayExtreme.dewPointHigh }}
                        </span>
                    </div>
                    <div>
                        <span class="text-color-low" data-toggle="tooltip" :title="item.todayExtreme.WindSpeedMaxTimestamp">
                            {{ item.yesterdayExtreme.dewPointLow }}
                        </span>
                    </div>
                </td>
                <td>
                    <div>
                        <span class="text-color-high" data-toggle="tooltip" :title="item.todayExtreme.WindSpeedMaxTimestamp">
                            {{ item.yesterdayExtreme.realHumidityHigh }}
                        </span>
                    </div>
                    <div>
                        <span class="text-color-low" data-toggle="tooltip" :title="item.todayExtreme.WindSpeedMaxTimestamp">
                            {{ item.yesterdayExtreme.realHumidityLow }}
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section scripts {
<environment include="Development">
    <script src="~/js/data/realtime.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/data/realtime.min.js" asp-append-version="true"></script>
</environment>
}